importFrom("grDevices", "col2rgb", "colorRampPalette", "dev.off",
           "pdf", "png", "rgb")
importFrom("graphics", "abline", "axis", "boxplot", "hist", "image",
           "layout", "lines", "mtext", "par", "plot", "points", "rect",
           "text", "title", "legend")
importFrom("stats", "as.dendrogram", "as.dist", "cutree", "density",
           "dist", "filter", "hclust", "median", "order.dendrogram",
           "quantile", "reorder", "sd", "complete.cases", "cor")
importFrom("utils", "flush.console", "read.table", "write.table", "tail")
importFrom("binhf", "ansc")
import(logging)
import(futile.logger)
import("methods")
importFrom("gplots", "bluered")
importFrom("ape", "write.tree", "as.phylo")
import(RColorBrewer)
import(Seurat)

export(infercnv)
export(CreateInfercnvObject)

export(run)
export(make_ngchm)
export(subtract_ref_expr_from_obs)
export(remove_outliers_norm)
export(center_cell_expr_across_chromosome)
export(require_above_min_mean_expr_cutoff)
export(require_above_min_cells_ref)
export(clear_noise)
export(clear_noise_via_ref_mean_sd)
export(smooth_by_chromosome)
export(get_average_bounds)
export(log2xplus1)
export(invert_log2xplus1)
export(invert_log2)
export(make_zero_NA)
export(transform_to_reference_based_Zscores)
export(mean_center_gene_expr)
export(get_reference_grouped_cell_indices)
export(apply_max_threshold_bounds)
export(remove_genes_at_ends_of_chromosomes)
export(validate_infercnv_obj)
export(normalize_counts_by_seq_depth)
export(anscombe_transform)

export(mask_non_DE_genes)
export(seurat_from_infercnv_obj)

export(plot_cnv)

