importFrom("grDevices", "col2rgb", "colorRampPalette", "dev.off",
           "pdf", "png", "rgb")
importFrom("graphics", "abline", "axis", "boxplot", "hist", "image",
           "layout", "lines", "mtext", "par", "plot", "points", "rect",
           "text", "title", "legend")
importFrom("stats", "as.dendrogram", "as.dist", "cutree", "density",
           "dist", "filter", "hclust", "median", "order.dendrogram",
           "quantile", "reorder", "sd", "complete.cases", "cor")
importFrom("utils", "flush.console", "read.table", "write.table", "tail")
import(logging)
import(futile.logger)
import("methods")
importFrom("gplots", "bluered")
importFrom("ape", "write.tree", "as.phylo")
import(RColorBrewer)
export(infercnv)
export(CreateInfercnvObject)
export(plot_cnv)
export(run)
